


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


###other###
*.log
/keys
/.gradle/*

/client/*
/gradle/wrapper/gradle-wrapper.jar
/gradlew/
/proto/build/
/proto/out/
/server/build/
/server/out
/gradlew
/.idea/vcs.xml
/gradlew.bat
/proto/.gradle/5.4.1/executionHistory/executionHistory.bin
/proto/.gradle/5.4.1/executionHistory/executionHistory.lock
/proto/.gradle/5.4.1/fileChanges/last-build.bin
/proto/.gradle/5.4.1/fileHashes/fileHashes.bin
/proto/.gradle/5.4.1/fileHashes/fileHashes.lock
/proto/.gradle/5.4.1/gc.properties
/proto/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/proto/.gradle/buildOutputCleanup/cache.properties
/proto/.gradle/buildOutputCleanup/outputFiles.bin
/proto/.gradle/vcs-1/gc.properties
/server/.gradle/5.4.1/fileChanges/last-build.bin
/server/.gradle/5.4.1/fileHashes/fileHashes.lock
/server/.gradle/5.4.1/gc.properties
/server/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/server/.gradle/buildOutputCleanup/cache.properties
/server/.gradle/vcs-1/gc.properties
