### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

###other###
*.log
/keys
/.gradle/*

/client/out/
/client/build/
/server/build/
/server/out/
/proto/build/
/proto/out/
/proto/src/generated/
/gradle/*
/gradlew/
/.idea/vcs.xml
/gradlew.bat
/gradlew
